div.calculator {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: table;
}

div.row:after {
  clear: both;
  content: "";
  display: table;
}

.button {
  margin: 2px;
  padding: 10px;
}

div.column {
  float: left;
  margin-left: 5px;
  display: table;
  text-align: right;
}

div.column.operator {
  background-color: rgb(253, 158, 43);
}

div.column.operator button {
  clear: both;
  border-width: 1px;
  border-color: white;
  background-color: transparent;
}

div.screen {
  margin: 5px;
  padding: 10px;
  height: 20px;
  display: table;
  background-color: grey;
}
